/* global styles */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;
}
/* h1 {
    font-size: 56px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1.07;
}

h2 {
    font-size: 36px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    font-weight: 500;
} */

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    border-width: 0;
    color: #ffffff;
    background-color: #4D5AE5;
}

button:hover, button:focus {
    cursor: pointer;
    background-color: #404BBF;
}

        /* ELEMENTS STYLES */

/* header */
.navigation-menu .navigation-link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation-menu .navigation-link:hover, .navigation-menu .navigation-link:focus{ 
    color: #404BBF;
}

.nav-contacts {
    font-style: normal;
}

.nav-contacts .address-link {
    color: #434455;
}

.nav-contacts .address-link:hover, .nav-contacts .address-link:focus {
    color: #404BBF;
}

.header-navigation .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-navigation .logo-end {
    color: #2e2f42;
}
/* hero */

.hero {
    background-color: #2E2F42;
}

.hero .main-heading {
    color:#ffffff;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-cta {
    font-family: inherit;
}

/* benefits */

.benefit-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


/* team */

.team {
    background-color: #F4F4FD;
}

.section-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.members .team-member {
    background-color: #FFFFFF;
}

.members .member-name {
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.member-role {
    font-size: 16px;
}

/* Portfolio */

.project-title {
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* Footer */
.bottom {
    background-color: #2E2F42;
}

.bottom .bottom-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.bottom .logo {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.bottom .logo-end {
    color: #f4f4fd;
}